# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
agent_sandbox/

# Virtual Environments
venv/
.venv/
env/

# Test Databases
test*.db
*.db-journal

# Flet / Flutter artifacts
.flet/